# Executables and libraries
*.exe
*.a
*.lib

# Compiled Delphi unit files
*.dcu

# Backup files
*~

# Dub files
.dub
dub.selections.json

# Dub test files
__test__library__
tests

# DLLs
bindings/dlang/xtreme3d.dll
bindings/dlang/ode.dll
bindings/dlang/freetype.dll
bindings/dlang/OpenFBX.dll
bindings/python/xtreme3d.dll
bindings/python/ode.dll
bindings/python/freetype.dll
bindings/python/OpenFBX.dll

# db files
*.db

# Compiled Python modules
*.pyc
