
# Executables and libraries
*.exe
*.a
*.lib

# Backup files
*~

# Dub files
.dub
dub.selections.json

# Dub test files
__test__library__
tests

# DLLs
bindings/dlang/freetype.dll
bindings/dlang/ode.dll
bindings/dlang/xtreme3d.dll
bindings/python/xtreme3d.dll
bindings/dlang/OpenFBX.dll
