A 
{
FONT-SIZE: 12px; COLOR: black; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

P 
{
FONT-SIZE: 12px; COLOR: black; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.link:hover 
{
FONT-SIZE: 12px; COLOR: #FFFFFF; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND: #484848; TEXT-DECORATION: none
}

BODY 
{
FONT: 12px arial,sans-serif; COLOR: #FFFFFF
}

TD 
{
FONT: 12px arial,sans-serif; COLOR: #000000
}

DIV 
{
FONT: 12px arial,sans-serif; COLOR: #000000
}

.pagetitle 
{
FONT-SIZE: 24px; COLOR: blue; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.name 
{
FONT-SIZE: 16px; COLOR: blue; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.namenew 
{
FONT-SIZE: 16px; COLOR: #800080; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.type 
{
FONT-SIZE: 12px; COLOR: blue; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.function 
{
FONT-SIZE: 12px; COLOR: red; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.funclink
{
FONT-SIZE: 12px; COLOR: blue; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}

.funclink:hover 
{
FONT-SIZE: 12px; COLOR: #FFFFFF; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND: #484848; TEXT-DECORATION: none
}

.func2link
{
FONT-SIZE: 12px; COLOR: #800080; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}

.func2link:hover 
{
FONT-SIZE: 12px; COLOR: #FFFFFF; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND: #484848; TEXT-DECORATION: none
}

.constant 
{
FONT-SIZE: 12px; COLOR: maroon; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}

.constantlink
{
FONT-SIZE: 12px; COLOR: maroon; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}

.constantlink:hover 
{
FONT-SIZE: 12px; COLOR: #FFFFFF; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND: #484848; TEXT-DECORATION: none
}

.link
{
FONT-SIZE: 12px; COLOR: #FF6600; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}

.red 
{
FONT-SIZE: 12px; COLOR: red; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.green 
{
FONT-SIZE: 12px; COLOR: green; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.blue 
{
FONT-SIZE: 12px; COLOR: blue; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
