A 
{
FONT-SIZE: 14px; COLOR: black; 
}

P 
{
FONT-SIZE: 14px; COLOR: black; 
}

.link:hover 
{
FONT-SIZE: 14px; COLOR: #FFFFFF; BACKGROUND: #484848; TEXT-DECORATION: none;
}

BODY 
{
FONT: 14px; COLOR: #FFFFFF;
}

TD 
{
FONT: 14px; COLOR: #000000;
}

DIV 
{
FONT: 14px; COLOR: #000000;
}

.pagetitle 
{
FONT-SIZE: 24px; COLOR: blue; 
}

.name 
{
FONT-SIZE: 14px; COLOR: blue; 
}

.namenew 
{
FONT-SIZE: 14px; COLOR: #800080; 
}

.type 
{
FONT-SIZE: 14px; COLOR: blue; 
}

.function 
{
FONT-SIZE: 14px; COLOR: red; 
}

.funclink
{
FONT-SIZE: 14px; COLOR: blue; TEXT-DECORATION: none
}

.funclink:hover 
{
FONT-SIZE: 14px; COLOR: #FFFFFF; BACKGROUND: #484848; TEXT-DECORATION: none
}

.func2link
{
FONT-SIZE: 14px; COLOR: #800080; TEXT-DECORATION: none
}

.func2link:hover 
{
FONT-SIZE: 14px; COLOR: #FFFFFF; BACKGROUND: #484848; TEXT-DECORATION: none
}

.constant 
{
FONT-SIZE: 14px; COLOR: maroon; TEXT-DECORATION: none;
}

.constantlink
{
FONT-SIZE: 14px; COLOR: maroon; TEXT-DECORATION: none;
}

.constantlink:hover 
{
FONT-SIZE: 14px; COLOR: #FFFFFF; BACKGROUND: #484848; TEXT-DECORATION: none;
}

.link
{
FONT-SIZE: 14px; COLOR: #FF6600; TEXT-DECORATION: none;
}

.red 
{
FONT-SIZE: 14px; COLOR: red; 
}

.green 
{
FONT-SIZE: 14px; COLOR: green; 
}

.blue 
{
FONT-SIZE: 14px; COLOR: blue; 
}

