A 
{
FONT-SIZE: 14px; COLOR: black; 
FONT-FAMILY: default;
}

.ntext
{
FONT-SIZE: 14px; COLOR: black; 
FONT-FAMILY: default;
}

P 
{
FONT-SIZE: 14px; COLOR: black; 
}

.link:hover 
{
FONT-SIZE: 14px; COLOR: #FFFFFF; BACKGROUND: #484848; TEXT-DECORATION: none;
FONT-FAMILY: default;
}

BODY 
{
FONT: 14px; COLOR: #FFFFFF;
}

TD 
{
FONT: 14px; COLOR: #000000;
}

DIV 
{
FONT: 14px; COLOR: #000000;
}

.pagetitle 
{
FONT-SIZE: 24px; 
COLOR: blue; 
}

.name 
{
FONT-SIZE: 18px; 
COLOR: blue; 
}

.namenew 
{
FONT-SIZE: 14px; 
COLOR: #800080; 
}

.src 
{
FONT-SIZE: 14px; 
COLOR: black; 
FONT-FAMILY: default;
}

.type 
{
FONT-SIZE: 14px; 
COLOR: blue; 
FONT-FAMILY: default;
}

.function 
{
FONT-SIZE: 14px; 
COLOR: red; 
FONT-FAMILY: default;
}

.funclink
{
FONT-SIZE: 14px; 
COLOR: blue; 
TEXT-DECORATION: none;
FONT-FAMILY: default;
}

.funclink:hover 
{
FONT-SIZE: 14px;
COLOR: #FFFFFF; 
BACKGROUND: #484848;
TEXT-DECORATION: none;
}

.func2link
{
FONT-SIZE: 14px; 
COLOR: #800080; 
TEXT-DECORATION: none;
FONT-FAMILY: default;
}

.func2link:hover 
{
FONT-SIZE: 14px; 
COLOR: #FFFFFF; 
BACKGROUND: #484848; 
TEXT-DECORATION: none;
}

.constant 
{
FONT-SIZE: 14px;
COLOR: maroon; 
TEXT-DECORATION: none;
FONT-FAMILY: default;
}

.constantlink
{
FONT-SIZE: 14px; 
COLOR: maroon; 
TEXT-DECORATION: none;
FONT-FAMILY: default;
}

.constantlink:hover 
{
FONT-SIZE: 14px; 
COLOR: #FFFFFF; 
BACKGROUND: #484848; 
TEXT-DECORATION: none;
}

.link
{
FONT-SIZE: 14px; 
COLOR: #FF6600; 
TEXT-DECORATION: none;
FONT-FAMILY: default;
}

.red 
{
FONT-SIZE: 14px;
COLOR: red; 
FONT-FAMILY: default;
}

.green 
{
FONT-SIZE: 14px;
COLOR: green; 
FONT-FAMILY: default;
}

.blue 
{
FONT-SIZE: 14px;
COLOR: blue; 
FONT-FAMILY: default;
}

